{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        #backGround{
            align-content: center;
            pointer-events: none;
            position: absolute;
            padding-left: 2%;
            width: 96%;
            height: 98%;
            padding-top: 1%;
            z-index: -1;
        }
    </style>
    <title>RESTFO</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.2.0/aos.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.2.0/aos.js"></script>

</head>
<body >
    <img id="backGround" src="{% static website %}restaurant/back1.jpg">
        <nav class="navbar navbar-expand-lg navbar-light bg-light navback shadow-lg p-3 mb-5 fixed-top " >
            <a class="navbar-brand" href="#">RESTFO</a>

                <span class="navbar-toggler-icon"></span>

        <div class="collapse navbar-collapse pl-5" id="navbarNav">
            <div class="container">
                <ul class="navbar-nav ml-auto pl-5">
                    <li class="nav-item px-2">
                        <a class="nav-link text-body"data-toggle="tooltip" data-placement="bottom" title="Homepage" href="/"><i class="fas fa-home"></i> Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item px-2">
                        <a class="nav-link text-body" data-toggle="tooltip" data-placement="bottom" title="Sign in" href="/login"><i class="fas fa-sign-in-alt"></i> Signin </a>
                    </li>
                     <li class="nav-item px-2">
                        <a class="nav-link text-body" data-toggle="tooltip" data-placement="bottom" title="Sign up" href="/register"><i class="fas fa-user-plus"></i> Signup </a>
                    </li>
                    <li class="nav-item px-2">
                        <a class="nav-link text-body" data-toggle="tooltip" data-placement="bottom" title="About" href="#"> About </a>
                    </li>

                    <li class="nav-item px-2">
                      <a class="nav-link text-body" data-toggle="tooltip" data-placement="bottom" href="index2/">Donate</a>
                    </li>
            </ul>

            </div>
        </div>

        </nav>

{% block content %}
{% endblock content %}
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script>AOS.init({
	easing: 'ease-out-back',
	duration: 1000
});</script>
</body>
</html>
