<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Menu Update</title>
  </head>
  <style>
    body {
          font: 20px Arial;
          color: orangered;  
          
      }
      </style>
  <body>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    {% load static %}
    <div class="d-flex justify-content-center">
      <img src="{% static 'restafo_logo.jpeg' %}" alt="My image" height="100px" width="150px"/>
    </div> 
         <div class="card mb-2"  >
            <div class="shadow-lg p-3 mb-5 bg-white rounded">
                <h3>Item Name:{{item.fname}}</h3>
                <h3>Item Price:{{item.price}}</h3>
                <h3>Item Status:{{item.availability}}</h3>
            
           </div>
        </div>

  <div class="shadow-lg p-3 mb-5 bg-white rounded">
    {% load crispy_forms_tags %}
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
       {% for val in form %}
       <table>
        <div class="form-group">
            <label for="exampleInputPassword1"> {{ val.label}}</label>
            {{val}}
          </div>
       
        </table>
        {% endfor %}
        <input type="submit" value="Update" name="submit" class="btn-sm btn">
    </form>

        
          
          
 </div>
</body>
</html>